<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
              <!-- API 反向代理 -->
        <!-- <rule name="Proxy to API" stopProcessing="true">
            <match url="^api/(.*)" />
            <action type="Rewrite" url="http://localhost:9291/{R:1}" />
        </rule> -->

        <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
          <!-- <action type="Rewrite" url="/admin/" /> --><-- 作为子站点时使用，访问不存在的页面时，重定向到 /admin/ -->
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
